<div class="" style="padding: 15px;background-color: #efefef;border-radius: 5px">
    <h3>NUEVO MENSAJE</h3>

    <div class="form-group">
        <label>Remitente:</label>
        <input type="text" id="email" name="email" class="form-control" required />
    </div>

    <label>Mensaje:</label>
    <textarea class="form-group" name="mensaje" id="mensaje" style="width: 100%;" rows="3"></textarea>

    <div class="form-group">
        <button id="botonEnviarMensaje" class="btn btn-md btn-success btn-enviar btn-block">Enviar</button>
    </div>

</div>
